# Application
APP_NAME=Talvion
PORT=4000

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/talvion?schema=public"

# Admin Account Seeding
ADMIN_EMAIL="admin@talvion.com"
ADMIN_PASSWORD="supersecretadmin"

# JWT
JWT_SECRET="development_secret_do_not_use_in_prod"
